/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .navigation {
        display: flex;
      }
      .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
      }
      .navigation a {
        text-align: center;
        font-size: 1.2rem;
      }
      .navigation li:first-child {
        display: none;
      }
    }