header {
  background-color: #98c1d9;
  display: flex;
  align-items: center;
  justify-content:center;
}

header img {
  width: 60px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}

.motto {
  float: left;
  margin: 1rem;
}

footer {
  padding: 2rem;
  background-color: #98c1d9;
  color: black;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
h2 {
  color: #ee6c4d;
}

main {
  display: block;
  font-size: 0.9rem;
  padding: 2rem;
}
main article {
  
  border: 1px solid #98c1d9;
  padding: 2rem;
  background-color: #e0fbfc;
}
main picture {
  display: none;
  margin: 0.5rem;
}

footer {
  flex: 0 1 100%;
  padding: 2rem;
}

.contentbox {
  display: block;
  margin: 10px auto;
  border: 1px dashed #000;
  padding: 15px;
  background-color: #eee;
  color: #555;
  font-style: italic;
}

/* Small/Phone View ***************/
nav {
  display: block;
  background-color: #293241;
}
.navigation {
  display: block;
  padding: 5rem;
  margin: auto;
  list-style: none;
  padding: 1rem;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #e0fbfc;
  font-weight: 500;
}
.navigation a:hover {
  display: block;
  color: #293241;
  background-color: #e0fbfc;
}

.responsive li {
  display: block;
}
