/* Small/Phone View ***************/

header {
  background-color: #98c1d9;
  display: flex;
  align-items: center;
  justify-content:center;
}

header img {
  width: 80%;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}

.motto {
  float: left;
  margin: 0;
}

footer {
  padding: 2rem;
  background-color: #98c1d9;
  color: black;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  color: #ee6c4d;
}

main {
  display: block;
  font-size: 0.9rem;
  padding: 2rem;
}
main article {
  
  border: 1px solid #98c1d9;
  padding: 2rem;
  background-color: #e0fbfc;
}
main picture {
  display: none;
  margin: 0.5rem;
}

footer {
  flex: 0 1 100%;
  padding: 2rem;
}

.contentbox {
  display: block;
  margin: 10px auto;
  border: 1px dashed #000;
  padding: 15px;
  background-color: #eee;
  color: #555;
  font-style: italic;
}

.herodiv {
  margin: 10px auto; position: relative;
}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
}

.banner {
  display: none;
}

.flex {
	display: flex;
	/* flex-direction: row; */
	/* let us combine row and wrap with flow */
	flex-flow: row wrap;
}

.flex-col {
	flex: 1 1 auto;
	background-color: #bed;
}
.flex-col, .column-col, .grid-col {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
}
.flex-col:hover, td:hover, .column-col:hover, .grid-col:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}
.flex, .column, .grid {
	border-right: 1px solid #333;
}

.col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #333;
	text-align: center;
}

img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head,th {
	font-weight: 700;
	font-size: 1rem;
	background-color: black;
	color: white;
}

nav {
  display: block;
  background-color: #293241;
}

.navigation {
  display: block;
  padding: 5rem;
  margin: auto;
  list-style: none;
  padding: 1rem;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a{
  display: block;
  text-align: left;
  text-decoration: none;
  color: #e0fbfc;
  font-weight: 500;
}

.navigation a:active {
  text-decoration: underline;
  font-weight: bold;
}

.navigation li.active a{
  text-decoration: underline;
  font-weight: bold;
}

.navigation a:hover {
  display: block;
  color: #293241;
  background-color: #e0fbfc;
}

.responsive li {
  display: block;
}

.menu {
  height: 200%;
  width: auto;
}