@charset "UTF-8"; 
body {
	font-size: 16px;
}


header {
	background-color: #98c1d9;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

footer{
    margin: 1.5rem;
    padding: 1rem;
    background-color: #98c1d9;
    color: black;
	text-align: center;
}

/* phone or baseline views **************************/
header,
nav,
main,
footer {
	max-width: 767px;
	margin: auto;
	padding: 20px;
}
h1 {
	font-size: 2rem;
}
h2 {
	color: #ee6c4d;
}

nav {
	background-color: #293241;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav a {
	display: block;
	color: #e0fbfc;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #e0fbfc;
	color: #293241;
}
.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #98c1d9;
	padding: 2rem;
	background-color: #e0fbfc;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	flex: 0 1 100%;
	
}
